<Card Model=category Refresh=Refresh>
    <Header>
        <MudText Typo="Typo.h6">@category.Name</MudText>
    </Header>
    <Button>
        <EditButton TEditDialog=CategoryEditDialog TModel=Category Model=category Title="Modifier catégorie" OnSuccess=Refresh />
    </Button>
    <Content>
    </Content>
</Card>

@code {
    [Parameter]
    public Category category { get; set; }

    [Parameter]
    public EventCallback Refresh { get; set; }
}