<Card Model=Friend Refresh=Refresh>
    <Header>
        <MudText Typo="Typo.h6">@context.Name @context.Surname</MudText>
    </Header>
    <Button>
        <EditButton TEditDialog=FriendEditDialog TModel=Friend Model=Friend Title="Modification d'un invité" OnSuccess="Refresh" />
    </Button>
    <Content>
    </Content>
</Card>

@code {
    [Parameter]
    public Friend Friend { get; set; }

    [Parameter]
    public EventCallback Refresh { get; set; }
}